* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #ffffff;
    line-height: 1.6;
}

/* Container for main content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.whitespace{
    padding-top: 20px;
}

.calculating-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    background-color:#373737;
    margin-bottom: 50px;
}

.analyse-button {
    padding-bottom: 40px;
}

.back-home {
    padding-bottom: 20px;
}
/* Main header styles */
header {
    background-color: #282828;
    color: white;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    top: 0;
    z-index: 1000; 
}

h1 {
    font-size: 2rem;
    color: #61dafb;
    margin-bottom: 1rem;
}

/* Subheader and description text */
p {
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 2rem;
}

/* Buttons styling */
.cta-button, .crypto-button, .transaction-button {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: #61dafb;
    color: #1b1b1b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover, .crypto-button:hover, .transaction-button:hover {
    background-color: #4fc0e8;
}

/* Feature sections */
.features {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    text-align: left;
}

.feature {
    background-color: #2e2e2e;
    padding: 1.5rem;
    border-radius: 8px;
    width: 30%;
}

.feature h3 {
    font-size: 1.5rem;
    color: #61dafb;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1rem;
    color: #cccccc;
}

.feature {
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.feature:hover {
    transform: scale(1.05);
    background-color: #373737;
}

footer {
    align-content: center;
}