* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #ffffff;
}

header {
    background-color: #282828;
    padding: 2rem;
    text-align: center;
}

.white-text {
    color: #ffffff;
}

header h1 {
    font-size: 3rem;
    color: #61dafb;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.grid-container {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    max-width: 90%;
    width: 100%;
}

.flex-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.card_analysis, .card_livechat {
    flex: 1;
    min-height: 250px;
}

.card_analysis, .card_livechat, .card-wide {
    background-color: #2e2e2e;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    padding: 1.5rem;
}

.card-header {
    background-color: #282828;
    color: #61dafb; /* Updated to match the webpage title color */
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    top: 0;
    z-index: 1000; 
}

h1 {
    font-size: 2rem;
    color: #61dafb;
}

.card-body {
    font-size: 1.2rem;
    color: #cccccc;
}

.card-wide {
    grid-column: span 2;
}

footer {
    margin-top: auto;
    padding: 1.5rem;
    background-color: #282828;
    color: #666666;
    text-align: center;
}

.toggle-container {
    display: flex;
    justify-content: flex-end; /* Aligns the toggle to the right */
    margin: 10px 0; /* Margin above and below the toggle */
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px; 
    height: 34px; 
}

.toggle input {
    display: none; 
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; 
    transition: background-color 0.3s ease; 
    border-radius: 34px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; 
    width: 26px; 
    left: 4px; 
    bottom: 4px;
    background-color: white; 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
}

input:checked + .slider {
    background-color: #61dafb; 
}

input:checked + .slider:before {
    transform: translateX(26px); 
}

.analysis-content {
    text-align: center;
    margin-top: 10px;
}

.user-input-section button {
    background-color: #61dafb;
    color: #ffffff;
    border: "none";
    padding: 15px 10px;
    font-size: 1.2 rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.user-input-section button:hover {
    background-color: #57a3d1; /* Slightly darker shade on hover */
}

.user-input-section button:focus {
    outline: none; /* Remove default outline on focus */
}

input[type="text"] {
    background-color: #1b1b1b1b;
    color: #61adfb;
    border: 2px solid #61dafb;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    outline:none;
}

input[type="text"]:focus {
    border-color: #ffffff;
    background-color: #282828;
}


